name: Deploy to codesphere
on:
  workflow_dispatch: null
  pull_request:
    types:
      - closed
      - opened
      - reopened
      - synchronize
permissions:
  contents: read
  pull-requests: read
  deployments: write
  statuses: write
jobs:
  deploy:
    concurrency: codesphere
    runs-on: ubuntu-latest
    steps:
      - name: Deploy
        uses: codesphere-cloud/gh-action-deploy@latest
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        with:
          email: ${{ secrets.CS_EMAIL }}
          password: ${{ secrets.CS_PASSWORD }}
          team: ${{ secrets.CS_TEAM }}
          plan: Micro
          env: |
            ENV=testing
            EMAIL=${{ secrets.CS_EMAIL }}

